# Common
APP_NAME=user
NODE_ENV=development

# Auth / JWT settings
AUTH_JWT_SECRET=secret
AUTH_JWT_TOKEN_EXPIRES_IN=PT60M

AUTH_REFRESH_SECRET=secret_for_refresh
AUTH_REFRESH_TOKEN_EXPIRES_IN=P30D

AUTH_FORGOT_SECRET=secret_for_forgot
AUTH_FORGOT_TOKEN_EXPIRES_IN=P30M

AUTH_CONFIRM_EMAIL_SECRET=secret_for_confirm_email
AUTH_CONFIRM_EMAIL_TOKEN_EXPIRES_IN=P1D

# Cryptography
ENCRYPTION_ALGORITHM=aes-256-cbc
ENCRYPTION_KEY=ab3b6d94e9aaf29425b29b4fcff20805

# Database configuration
DATABASE_HOST=crm-postgres
DATABASE_PORT=5432
DATABASE_USERNAME=root
DATABASE_PASSWORD=secret
DATABASE_NAME=crm_db

# Redis settings
REDIS_HOST=crm-redis
REDIS_PORT=6379

# Kafka
KAFKA_BROKERS=crm-kafka:9092
KAFKAJS_NO_PARTITIONER_WARNING=1

# Sentry
SENTRY_DSN=your-sentry-dsn-here